[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FindIT2"]
	path = FindIT2
	url = https://github.com/shangguandong1996/findit2
